org: israelcruzworktest
service: serverless-project-template

plugins:
  - serverless-offline

build:
  esbuild:
    bundle: true
    minify: true
    sourcemap: false
    external:
      - "@aws-sdk/*"
    exclude:
      - "@aws-sdk/*"

package:
  individually: true

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  architecture: arm64
  stage: ${opt:stage, 'dev'}
  memorySize: 128
  timeout: 30
  environment:
    COGNITO_CLIENT_ID: !Ref CognitoUserPool
  httpApi:
    authorizers:
      CognitoAuthorizer:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl: !GetAtt CognitoUserPool.ProviderURL
        audience:
          - !Ref CognitoUserPoolClient

functions:
  auth:
    handler: src\Domains\Auth\handler.handler
    events:
      - httpApi:
          path: /authentication/{proxy+}
          method: ANY
  user:
    handler: src\Domains\User\handler.handler
    events:
      - httpApi:
          path: /user/{proxy+}
          method: ANY
          authorizer: 
            name: CognitoAuthorizer

resources:
  Resources:
    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: TemplateCognitoUserPool
        AccountRecoverySetting:
          RecoveryMechanisms:
            - Name: verified_email
            - Priority: 1
        DeletionProtection: active
        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireLowercase: true
            RequireNumbers: true
            RequireSymbols: true
            RequireUppercase: true
        # AdminCreateUserConfig
        # AliasAttributes:
        #   - email
        #   - phone_number
        UsernameAttributes:
          - email
        UsernameConfiguration:
          CaseSensitive: true
        Schema:
          - Name: email
            Required: true
            Mutable: true
          - Name: phone_number
            Required: true
            Mutable: true
          - Name: name
            Required: true
            Mutable: true
          - Name: role
            AttributeDataType: String
            Mutable: true
        MfaConfiguration: OPTIONAL
        EnabledMfas:
          - SOFTWARE_TOKEN_MFA
        DeviceConfiguration:
          ChallengeRequiredOnNewDevice: true
          DeviceOnlyRememberedOnUserPrompt: true
        UserAttributeUpdateSettings:
          AttributesRequireVerificationBeforeUpdate:
            -  email

    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        UserPoolId: !Ref CognitoUserPool
        AccessTokenValidity: 15
        IdTokenValidity: 15
        RefreshTokenValidity: 30
        TokenValidityUnits:
          AccessToken: minutes
          IdToken: minutes
          RefreshToken: days
        EnableTokenRevocation: true
        ExplicitAuthFlows:
          - ALLOW_USER_PASSWORD_AUTH
          - ALLOW_REFRESH_TOKEN_AUTH
        AuthSessionValidity: 1
        WriteAttributes:
          - email
          - phone_number
          - custom:role
        ReadAttributes:
          - email
          - phone_number
          - custom:role